.settings

.vscode

build/

cmake/

Core/*

!Core/.gitignore

!Core/Src

Drivers/

.clangd

.mxproject

CMakePresets.json

startup_stm32f401xe.s

STM32F401xx_FLASH.ld

Core/Src/gpio.c

Core/Src/stm32f4xx_hal_msp.c

Core/Src/stm32f4xx_it.c

Core/Src/syscalls.c

Core/Src/sysmem.c

Core/Src/system_stm32f4xx.c

Core/Src/usart.c